$app-light-color: #eee;

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 5;
  padding: 0.5rem;

}

.app-header, .app-content, .app-footer {
  display: flex;
}

.app-header, .app-footer {
  height: 6rem;
}

.app-header-title {
  margin: 0.5rem;
  font-size: 2.8em;
  font-weight: 400;
  flex: auto;
}


/* ********* App Navigation ********* */

$app-nav-bg-color: #2a2a2a;

$app-nav-item-border-color: #222;
$app-nav-item-bg-color: #333;
$app-nav-item-hover-bg-color: #444;
$app-nav-item-active-bg-color: #881010;
.app-menu {
  flex: 1;
  background: $app-nav-bg-color;
  overflow-x: hidden;
  transform: translate3d(0,0,0);
  transition: .5s;

  &.isOpen {
    flex: 0.19;
  }
}

.app-nav-title {
  font-size: 1.6rem;
  line-height: 5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  color: $app-light-color;
  border-bottom: 1px solid $app-nav-item-border-color;
  white-space: nowrap;
  .fa-bars {
    cursor: pointer;
    padding: 1rem;
  }

}

.app-nav-item {
  position: relative;
  display: block;
  padding: 2rem 0 2rem 5rem;
  color: $app-light-color;
  border-bottom: 0.1rem solid $app-nav-item-border-color;
  background: $app-nav-item-bg-color;
  font-style: italic;
  white-space: nowrap;

  &:before {
    font: 14px fontawesome;
    position: absolute;
    top: 1.9rem;
    left: 2rem;
    content: '\f022';
  }

  &:hover {
    background: $app-nav-item-hover-bg-color;
  }
  &.active {
    box-shadow: inset 0.5rem 0 0 $app-nav-item-active-bg-color, inset 0.6rem 0 0 $app-nav-item-border-color;
  }
}

