/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
button{
  border: none;
  outline: none;
}

html, body {
  height: 100vh;
}

html{
  font-size: 10px;
}
body {
  font: 600 12px/1 'Open Sans', sans-serif;
  color: #eee;
  background: #333;
  overflow-x: hidden;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
